body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.card {
    background: white;
    width: 85%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card img {
    border-radius: 20px;
}

h1 {
    color: #ff0066;
}

button {
    padding: 12px 30px;
    margin: 15px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

#yes {
    background: #ff0066;
    color: white;
}

#no {
    background: #ddd;
}

button:hover {
    transform: scale(1.1);
}
